@model TankkauksetASPNET.Models.Tankkaus

@{
    ViewBag.Title = "Details";
}

<h2>Lisätiedot</h2>

<div class="jumbotron">
    <h4>Tankkaus</h4>
    <hr />
    <dl class="dl-horizontal">
        <!--<dt>@ViewBag.Totaali</dt>-->

        <dt>@Html.DisplayNameFor(model => model.Pvm)</dt>

        <dd>@Html.DisplayFor(model => model.Pvm)</dd>

        <dt>@Html.DisplayNameFor(model => model.Litraa)</dt>

        <dd>@Html.DisplayFor(model => model.Litraa)</dd>

        <dt>@Html.DisplayNameFor(model => model.Euroa)</dt>

        <dd>@Html.DisplayFor(model => model.Euroa)</dd>

        <dt>@Html.DisplayNameFor(model => model.Reknro)</dt>

        <dd>@Html.DisplayFor(model => model.Reknro)</dd>

        <dt>@Html.DisplayNameFor(model => model.Mittarilukema)</dt>

        <dd>@Html.DisplayFor(model => model.Mittarilukema)</dd>

        <dt>@Html.DisplayNameFor(model => model.Ajomaara)</dt>

        <dd>@Html.DisplayFor(model => model.Ajomaara)</dd>

        <dt>@Html.DisplayNameFor(model => model.Keskikulutus)</dt>

        <dd>@Html.DisplayFor(model => model.Keskikulutus)</dd>

    </dl>
    <p>
        @Html.ActionLink("Muokkaa", "Edit", new { id = Model.TankkausId }) |
        @Html.ActionLink("Takaisin", "Index")
    </p>
</div>

