@model TankkauksetASPNET.Models.Tankkaus

@{
    ViewBag.Title = "Details";
}

<style>
    a {
        color: black;
    }
</style>

<div class="jumbotron">
    <h3>Lisätiedot</h3>
    <dl class="dl-horizontal">

        <!--<dt>@ViewBag.Totaali</dt>-->

        <dt>@Html.DisplayNameFor(model => model.Pvm)</dt>

        <dd>@Html.DisplayFor(model => model.Pvm)</dd>

        <dt>@Html.DisplayNameFor(model => model.Litraa)</dt>

        <dd>@Html.DisplayFor(model => model.Litraa)</dd>

        <dt>@Html.DisplayNameFor(model => model.Euroa)</dt>

        <dd>@Html.DisplayFor(model => model.Euroa)</dd>

        <dt>Rekisterinumero</dt>

        <dd>@Html.DisplayFor(model => model.Reknro)</dd>

        <dt>@Html.DisplayNameFor(model => model.Mittarilukema)</dt>

        <dd>@Html.DisplayFor(model => model.Mittarilukema)</dd>

        <dt>@Html.DisplayNameFor(model => model.Ajomaara)</dt>

        <dd>@Html.DisplayFor(model => model.Ajomaara)</dd>

        <dt>@Html.DisplayNameFor(model => model.Keskikulutus)</dt>

        <dd>
            @{
                var result = Model.Litraa * 100 / Model.Ajomaara;
                <span>@result.ToString("0.00")</span>
            }
        </dd>

    </dl>
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Muokkaa", "Edit", new { id = Model.TankkausId }) |
        @Html.ActionLink("Takaisin", "Index")
    </div>
</div>

