@model PagedList.IPagedList<TankkauksetASPNET.Models.Tankkaus>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Tankkaukset</h2>

@using (Html.BeginForm("Index", "Tankkaus", FormMethod.Get))
{
    <div class="input-group">
        <p class="px-1">@Html.Label("Etsi rekisterinumerolla:")</p>
        <p class="px-1">@Html.TextBox("SearchString", ViewBag.currentFilter as string, new { @class = "form-control" })</p> @*Tällä nimellä kontrolleri näkee mitä tekstiboksiin on syötetty *@
        <p class="px-1"><input type="submit" value="Etsi" class="form-control" /></p>
    </div>
}

<p>
    <br />
    @Html.ActionLink("Luo uusi", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.ActionLink("Päivämäärä", "Index", new { sortOrder = ViewBag.DateSortParm })</th>

        <th>
            @Html.DisplayName("Litra")
        </th>
        <th>
            @Html.DisplayName("Euro")
        </th>
        <th>
            @Html.DisplayName("Rkrnro")
        </th>
        <th>
            @Html.DisplayName("Mittarilukema")
        </th>
        <th>
            @Html.DisplayName("Ajomäärä")
        </th>
        <th>
            @Html.DisplayName("Keskikulutus")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Litraa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Euroa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reknro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mittarilukema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ajomaara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keskikulutus)
            </td>
            <td>
                @Html.ActionLink("Muokkaa", "Edit", new { id = item.TankkausId }) |
                @Html.ActionLink("Lisätiedot", "Details", new { id = item.TankkausId }) |
                @Html.ActionLink("Poista", "Delete", new { id = item.TankkausId })
            </td>
        </tr>
    }
</table>

@*Sivuttaminen eli sivujen lukumäärä*@
Sivu @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@*Seuraavan sivun klikkaus*@
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.currentFilter }))
