@model PagedList.IPagedList<TankkauksetASPNET.Models.Tankkaus>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<style>
    tr:nth-child(even) {
        background: #CCC
    }

    tr:nth-child(odd) {
        background: #FFF
    }

    a{
        color:black;
    }

    button {
        background-color: green;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        border-color: green;
    }

    h1 {
        color: #ffffff;
        font-family: 'Raleway',sans-serif;
        font-size: 62px;
        font-weight: 800;
        line-height: 72px;
        margin: 0 0 24px;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px white, 0 0 1em black;
    }

    @@media screen and (max-width: 620px) {
        h1 {
            font-size: 250%;
        }

        .mittarilukema, .ajomaara, .litra, .euroa {
            display: none;
        }
    }
</style>

<h1>Tankkaukset</h1>

@using (Html.BeginForm("Index", "Tankkaus", FormMethod.Get))
{
<div class="jumbotron">
    <div class="input-group">
        <button type="button" onclick="location.href='@Url.Action("Create")'">
            Luo uusi tankkausdata
        </button>
        <!--@Html.ActionLink("Luo uusi", "Create")-->
        @if(ViewBag.Message != null)
        {
        <script>

        $(document).ready(function(){

        alert('@ViewBag.Message');

        });

        </script>

        }
        <br />
        <br />
        <p class="px-1">@Html.Label("Etsi rekisterinumerolla:")</p>
        <p class="px-1">@Html.TextBox("SearchString", ViewBag.currentFilter as string, new { @class = "form-control" })</p> @*Tällä nimellä kontrolleri näkee mitä tekstiboksiin on syötetty *@
        <p class="px-1"><input type="submit" value="Etsi" class="form-control" /></p>
    </div>
    <br />
    <br />
    <table class="table">
        <tr style="background-color: #00790a; color: white; font-weight: bold; font-size: 1.05em">
            <th>@Html.ActionLink("Päivämäärä", "Index", new { sortOrder = ViewBag.DateSortParm }, new { @style = "color:white;" })</th>

            <th class="litra">
                @Html.DisplayName("Litra")
            </th>
            <th class="euroa">
                @Html.DisplayName("Euro")
            </th>
            <th>
                @Html.DisplayName("Rekisterinumero")
            </th>
            <th class="mittarilukema">
                @Html.DisplayName("Mittarilukema")
            </th>
            <th class="ajomaara">
                @Html.DisplayName("Ajomäärä")
            </th>
            <th>
                @Html.DisplayName("Keskikulutus")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pvm)
                </td>
                <td class="litra">
                    @Html.DisplayFor(modelItem => item.Litraa)
                </td>
                <td class="euroa">
                    @Html.DisplayFor(modelItem => item.Euroa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reknro)
                </td>
                <td class="mittarilukema">
                    @Html.DisplayFor(modelItem => item.Mittarilukema)
                </td>
                <td class="ajomaara">
                    @Html.DisplayFor(modelItem => item.Ajomaara)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.Keskikulutus)

                   @* @{
                        var result = item.Litraa * 100 / item.Ajomaara;
                        <span>@result.ToString("0.00")</span>
                    }*@
                </td>
                <td>
                    @Html.ActionLink("Muokkaa", "Edit", new { id = item.TankkausId }) |
                    @Html.ActionLink("Lisätiedot", "Details", new { id = item.TankkausId }) |
                    @Html.ActionLink("Poista", "Delete", new { id = item.TankkausId })
                </td>
            </tr>
        }
    </table>
    @*Sivuttaminen eli sivujen lukumäärä*@
    Sivu @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @*Seuraavan sivun klikkaus*@
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.currentFilter }))
</div>
                        }